<h1>{{title}}</h1>
<section>
    <h1>Instalacion</h1>
    <p>usaremos el motor de plantillas handlebars para facilitarnos el manejos de vistas(views) de nuestros poryectos, la ventaja que nos brinda es:</p>
    <ul>
        <li>Incluir datos de unuestras consultas de manera simple.</li>
        <li>Pasar estructuras como arreglo y objetos a nuestra vista.</li>
    </ul>
</section>
<section>
    <h1>Usos basicos</h1>
    <div class="ejemplo">
        <p class="text">Se usan \{{}} para indcar la inclucion de contenido por medio HBS</p>
        <p class="code">
            \{{nombre_objetos.nombre_propiedad}}
        </p>
        <p class="result">
            \{{obj.propiedad1}}<br><br>
            {{obj.propiedad1}}
        </p>
    </div>
    <h1>Forma en desuso</h1>
    <div class="ejemplo">
        <p class="text">forma en desuso</p>
        <p class="code">
            \{{nombre_objeto/nombre_propiedad}}
        </p>
        <p class="result">
            \{{obj/propiedad1}}<br><br>
            {{obj/propiedad1}}
        </p>
    </div>
</section>

