<header class="sombra">
    <img src="" alt="logo">
    <h1 class="">Aprendiendo HBS</h1>
</header>
<hr>
<section class="contenedor0">
    <article class="sombra">
        <h1>Instalacion</h1>
        <h2>Node.js</h2>
        <h2>Front</h2>
        <p>usaremos el motor de plantillas handlebars para facilitarnos el manejos de vistas(views) de nuestros
            poryectos, la ventaja que nos brinda es:</p>
        <ul>
            <li>Incluir datos de unuestras consultas de manera simple.</li>
            <li>Pasar estructuras como arreglo y objetos a nuestra vista.</li>
        </ul>
    </article>
    <div class="hbsTop">
        <img src="./images/hbs.png" alt="">
    </div>
</section>
<section class="contenedor1">
    <h1>Usos basicos</h1>
    <div class="ejemplo">
        <p class="text">Se usan \{{}} para indcar la inclucion de contenido por medio HBS</p>
        <p class="code">
            \{{nombre_objetos.nombre_propiedad}}
        </p>
        <p class="result">
            \{{obj.propiedad1}}<br><br>
            
        </p>
    </div>
    <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="PoLJOZg" data-editable="true"
        data-user="Toro_Corp"
        style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
        <span>See the Pen <a href="https://codepen.io/Toro_Corp/pen/PoLJOZg">
                HBS basico</a> by jesus (<a href="https://codepen.io/Toro_Corp">@Toro_Corp</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
    <h1>Forma en desuso</h1>
    <div class="ejemplo">
        <p class="text">forma en desuso</p>
        <p class="code">
            \{{nombre_objeto/nombre_propiedad}}
        </p>
        <p class="result">
            \{{obj/propiedad1}}<br><br>
            {{obj/propiedad1}}
        </p>
    </div>
</section>